@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
  --bg-color: #F8F8F8;
  --primary-color: #4436FD;
  --bg-color-components: #ffffff;
  --navbar-height: 63px;
  --min-menu-width: 65px;
  --max-menu-width: 250px;
  --footer-height: 51px;
  --text-color: #6E6B7B;
  --link-color: #7367F0;
  font-family: 'Monserrat', sans-serif;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.footer {
  left: 65px;
  height: var(--footer-height);
  box-sizing: border-box;
  padding: 15px 21px;
  position: fixed;
  width: 100%;
  background-color: #eeeeee;
  bottom: 0;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: #888888;
}

pre {
  font-family: 'Monserrat', sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

#app {
  padding: 0;
  background-color: var(--bg-color);
  height: 100vh;
  overflow: hidden;
}

.main-container {
  position: relative;
  top: var(--navbar-height);
  left: var(--min-menu-width);
  padding: 15px;
  width: calc(100% - var(--min-menu-width) - 30px);
  height: calc(100% - var(--navbar-height) - 30px - var(--footer-height));
}

::-webkit-scrollbar-track {
  background: #D8D6DE;
  border-radius: 40px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 40px;
}
