.main-header {
    background-color: var(--primary-color);
    width: 100%;
    position: fixed;
    padding: 12px 22px;
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
    box-sizing: border-box;
    align-items: center;
    color: #ffffff;

    .right-avatar-icons {
        display: flex;
        gap: 14px;
        align-items: center;

        svg {
            width: 24px;
            height: 21px;
        }

        .notifications {
            display: flex;
            position: relative;

            .count {
                position: absolute;
                left: 12px;
                top: -8px;
                background-color: #EA5455;
                border-radius: 50%;
                height: 18px;
                width: 18px;
                text-align: center;
                font-size: 12px;
                line-height: 18px;
                font-weight: 700;
            }
        }

        .profile {
            display: inline-flex;
            justify-content: space-between;
            gap: 14px;
            
            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-weight: 700;
                text-align: right;

                .name {
                    font-size: 14px;
                }
                .role {
                    font-size: 12px;
                }
            }

            .avatar {
                position: relative;
                width: 38px;
                height: 38px;
                img {
                    box-sizing: border-box;
                    max-width: 100%;
                    max-height: 100%;
                    border: 1.5px solid #7367F0;
                    border-radius: 50%;
                }

                .online-dot-container {
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    top: 27px;
                    left: 27px;
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #ffffff;
                    
                    .dot-inside {
                        width: 7.86px;
                        height: 7.86px;
                        top: 1.57px;
                        left: 1.57px;
                        border-radius: 50%;
                        background-color: #28C76F;
                        position: absolute;
                    }
                }

            }
        }
    }
}


