.timeline-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex-grow: 1;
  height: 100%;
  background-color: #ffffff;
  gap: 10px;
  .header {
    background-color: var(--bg-color-components);
    display: flex;
    justify-content: space-between;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    padding: 15px 15px 0px 15px;

    .title {
      display: flex;
      align-items: center;
    }

    .right-actions {
      display: flex;
      gap: 10px;

      .year-select {
        width: 100px;
      }
      .user-select {
        width: 150px;
      }
    }
  }
  .content-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 15px 15px 15px;
    .content {
      .blocktime {
        color: var(--link-color);
        font-weight: 700;
        font-size: 12px;
        padding: 7.5px 0px 7.5px 43.5px;
      }
      .updates {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .update-container {
          display: flex;
          position: relative;
          align-items: center;
          gap: 10px;
          .icon-container {
            width: 29px;
            .icon {
              border-radius: 50%;
              background-color: var(--link-color);
              height: 25px;
              width: 25px;
              display: flex;
              justify-content: center;
              align-items: center;
              border: 2px solid #dddddd;
              z-index: 2;
              position: relative;
              &:not(:has(> svg)) {
                height: 8px;
                width: 8px;
                left: calc(50% - 4.5px);
                position: relative;
              }
              svg {
                width: 12px;
                height: 12px;
                z-index: 10;
              }
            }
          }

          .message {
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 4px;
            width: 100%;
            display: flex;
            gap: 10px;
            flex-direction: column;
            .header-message {
              font-size: 12px;
              color: var(--text-color);
              font-weight: 700;
              background-color: #f0f0f0;
              display: flex;
              justify-content: space-between;
              .title {
                .type {
                  color: var(--link-color);
                }
              }
            }
            .body {
              gap: 10px;
              font-size: 12px;
              color: #5e5873;
              font-weight: 700;
              margin: inherit;
            }
          }
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 2px;
            left: 14px;
            z-index: 1;
            height: calc(100% + 30px);
            background-color: #dddddd;
          }
        }
      }

      &:first-child {
        .blocktime + .updates {
          .update-container {
            &:first-child {
              &:after {
                height: 50%;
              }
            }
          }
        }
      }

      &:last-child {
        .blocktime + .updates {
          .update-container {
            &:last-child {
              &:after {
                top: -50%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }
}
